:root {
	--purple: #674EA7;
	--green: #93CD99;
	--hover: #09804a;
	--bgBook: #d7d7d7;
	--white: #FFFFFF;
	--size-text: 20px;
	--subtitle: 30px;
	--title: 38px;
	--sizeBookTitle: 20px;
	--sizeInfoBook: 15px;
}

@font-face {
	font-family: 'pageFont';
	src: url(fonts/MADEOkineSansPERSONALUSE-Medium.otf) format('truetype');
}

* {
	font-family: 'pageFont';
	margin: 0;
	box-sizing: border-box;
}

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#contenedor_carga {
	background-color: var(--white);
	height: 100%;
	width: 100%;
	position: fixed;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	z-index: 10000;
}

.spinner-border {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.navbar {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 15vh;
	background-color: var(--purple);
	z-index: 1;
}

.navbar-login {
	justify-content: start;
	padding-left: 100px;
}

.navbar-left {
	display: flex;
	align-items: center;
}

.navbar-left p {
	margin-bottom: 0;
}

.navbar-titulo {
	margin: 0 0 0 24px;
	color: var(--white);
	font-size: var(--title);
}

.navbar-logo img {
	width: 80px;
	height: auto;
}

.navbar-search {
	background-color: var(--white);
	border-radius: 3rem;
	width: 25%;
	padding: 6px 0;
}

.navbar-search-content {
	display: flex;
	align-items: center;
	padding-left: 12px;
	gap: 12px;
}

.navbar-search input {
	width: 320px;
	margin-right: 0 !important;
	border-color: transparent;
	outline: none;
	font-size: 18px;
	border-radius: 1rem;
	padding-left: 6px;
}

.navbar-search img {
	width: 30px;
	height: auto;
}

.search-icon {
	display: flex;
	justify-content: start;
}

.navbar-icons {
	display: flex;
	gap: 24px;
}

.navbar-icons img {
	width: 55px;
	height: auto;
}

.primary-button {
	background-color: var(--green);
	border-radius: 10px;
	color: var(--white);
	font-size: var(--size-text);
	padding: 12px 50px;
	text-decoration: none;
	border-color: transparent;
}

.primary-button:hover {
	background-color: var(--hover);
	color: var(--white);
	transform: translateY(-3%);
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
	border-color: transparent;
}

.footer {
	background-color: rgb(46, 45, 45);
	color: var(--white);
	padding: 4% 0;
}

.content-footer {
	display: flex;
	justify-content: space-between;
}

.footer-info {
	padding: 0 5%;
	margin-left: 10%;
	width: 50%;
}

.footer-info ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-info img {
	height: 30px;
	width: auto;
}

.footer-info-details {
	margin-top: 24px;
}

.contact {
	display: flex;
	gap: 24px;
	margin-bottom: 12px;
	align-items: center;
}

.contact-info {
	justify-self: center;
	margin-bottom: 0;
}

.footer-info-icons {
	display: flex;
	gap: 16px;
}

/*Contenido Iniciar Sesion*/
.logIn {
	height: 90vh;
}

.content-alert {
	position: absolute;
	margin-top: 12px;
	width: 20%;
	z-index: 1;
}

.content-alert ul {
	list-style: none;
	padding: 0 12px;
	font-size: 14px;
}

.logInFormContent {
	background-color: rgba(255, 255, 255, 0.737);
	backdrop-filter: blur(3px);
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 50%;
	align-items: center;
}

.logInUp {
	margin-top: 12px;
}

.lince-image img {
	width: 220px;
	height: auto;
}

.logInDown {
	background-color: var(--white);
	border: 3px solid black;
	border-radius: 2rem;
	width: 55%;
	margin-top: -67px;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.225);
}

.title {
	font-size: var(--subtitle);
	text-align: center;
	margin-top: 24px;
}

.input-form {
	margin-top: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-form input {
	width: 300px;
	background-color: rgb(236, 234, 234);
	border: 3px solid rgb(136, 134, 134);
	font-size: 17px;
	border-radius: 10px;
	padding: 10px 20px;
	margin-bottom: 24px;

}

.input-form input::placeholder {
	color: rgb(155, 155, 155);
}

.boton-ingresar {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 24px 0;
}

/*Contenido Pagina Libros*/
.secondary-navbar {
	background-color: var(--green);
	padding: 10px 0;
}

.secondary-navbar-content {
	display: flex;
	gap: 24px;
}

.menu-icon {
	margin-left: 24px;
}

.menu-icon-content img {
	width: 34px;
	height: auto;
}

.secondary-navbar-sections {
	display: flex;
	gap: 30px;
	align-items: center;
}

.secondary-navbar-sections a{
	text-decoration: none;
} 

.secondary-navbar-sections p {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	font-size: 16px;
	color: black;
	margin-bottom: 0;
	padding: 8px;
}

.secondary-navbar-sections p:hover {
	color: var(--hover);
	cursor: pointer;
}

.section-name{
	margin: 3rem 12rem;
}

.list-books-section{
	display: flex;
	align-items: center;
	justify-content: center;
}

.list-books-container{
	position: relative;
}

.slider{
	display: flex;
	width: 1200px;
	padding: 24px;
	overflow: hidden;
	scroll-behavior: smooth;
	gap: 50px;
}

.slider a{
	text-decoration: none;
}

.control{
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: rgb(149, 149, 149);
	cursor: pointer;
	object-fit: contain;
	padding: 10px;
}

.control:hover{
	background: black;
}

.prev{
	padding: 12px;
	left: 0;
	top: 50%;
	transform: translate(-125%,-50%);
}

.next{
	padding: 12px;
	right: 0;
	top: 50%;
	transform: translate(125%, -50%);
}

.book{
	box-shadow: 2px 4px 10px rgb(147, 147, 147);
	transition: all 400ms ease;
}

.book p{
	margin-bottom: 0;
}

.book:hover{
	cursor: pointer;
	transform: translateY(-3%);
}

.book-content{
	display: flex;
	flex-direction: column;
	width: 250px;
	height: 400px;
	overflow: hidden;
}

.book-image{
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-content{
	width: 200px;
	height: 250px;
}

.image-content img{
	padding: 24px;
	width: 100%;
	height: 100%;
}

.book-description{
	height: 40%;
}

.book-info{
	height: 100%;
	padding: 12px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	background-color: var(--bgBook);
}

.book-title{
	text-align: center;
}

.book-title p{
	font-size: 16px;
	align-items: right;
	color: black;
}

.book-author, .book-available{
	margin-left: 24px;
}

.book-author p, .book-available p{
	font-family: 'Titillium Web', sans-serif;
	font-size: 14px;
	color: black;
}

/*Contenido de detalle de libro*/
.book-detail-content{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px 0px;
}

.book-detail-content p{
	margin-bottom: 0;
}

.book-detail-card{
	display: flex;
	width: 1100px;
	background: var(--bgBook);
}

.book-detail-image{
	padding: 6px;
}

.book-detail-image-content{
	width: 300px;
	height: 400px;
	background: var(--white);
}

.book-detail-image-content img{
	padding: 24px;
	width: 100%;
	height: 100%;
}

.book-detail-description{
	padding: 24px;
}

.book-detail-title{
	font-size: var(--title);
	text-align: center;
}

.book-detail-info{
	width: 800px;
}

.book-detail-info p{
	margin-bottom: 12px;
}

.text-informacion-del-libro{
	font-size: var(--size-text);
}

.book-detail-available p, .book-detail-author p, .book-detail-editorial p, 
.book-detail-languague p, .book-detail-pages p{
	font-family: 'Titillium Web', sans-serif;
	font-size: 14px;
}

.book-detail-buttons{
	margin-top: 24px;
	display: flex;
	gap: 42px;
	justify-content: center;
}


/*Contenido Pagina Principal
.Modulo{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding: 24px;
}

.title{
   font-size:var(--md);
   text-align: center;
   margin-top: 24px;
}

.Botones{
	display: flex;
    flex-direction: column;
    padding: 0 100px;
    margin-top: 24px;
}

.Botones-up{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 25px;
	margin-bottom: 32px;
	gap: 24px;
}

.Botones-down{
	display: flex;
	justify-content: center;
	align-items: center;
}

.boton-content{
	width: 60%;
}

.content-button{
	width: 100%;
	padding: 15px;
}

.content-button a{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

.content-button img{
	width: 40px;
}

/*Contenido Inicio de Sesion

.iniciarSesion{
	align-items: center;
}

.content-alert{
	width: 30%;
	margin-top: 24px;
}

.content-alert ul {
    list-style: none;
    padding: 0 12px;
}

.iniciarSesion-title{
	margin-top: 42px;
}

.content-inicioSesion{
    padding-top: 40px;
}

.input-password{
    padding-top: 40px;
}

.boton-ingresar{
    padding-top: 40px;
}

.button-ingresar{
	width: 100%;
}

.form-signin {
	max-width: 400px;
}

.form-signin input[type="email"] {
    font-size: 20px;
}

.form-signin input[type="password"] {
  font-size: 20px;
}

/*Contenido Pagina Libros

h1{
	padding-left: 60px;
    padding-top: 30px;
    width: 80%;
}

.books-container{
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
	padding-bottom: 100px;
}

.books-container button{
	background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    height: 100%;
	width: 100%;
}

.book-card{
	width: 20%;
    margin: 2rem; 
}

.book-card:hover{
	transform: translateY(-3%);
}

.book-content{
	background-color: var(--bgBook);
    border-radius: 30px;
	padding-bottom: 24px;
}

.book-content img{
	width: 150px;
	height: 250px;
	padding-top: 30px;
    padding-bottom: 16px;
}

.book-info{
	padding-left: 30px;
    text-align: left;
}

.book-info p{
	margin-bottom: 5px;
	font-size: var(--sizeInfoBook);
}

.book-title{
	font-size: var(--sizeBookTitle);
	padding-bottom: 10px;
	margin-bottom: 0;
}

@media screen and (max-width: 800px){
	
}*/