:root{
	--purple: #621a57;
	--green: #259e65;
	--hover: #09804a;
	--white: #FFFFFF;
	--lg:38px;
	--md:34px;
	--sm:30px;
}

@font-face {
    font-family: 'pageFont';
    src: url(fonts/MADEOkineSansPERSONALUSE-Medium.otf) format('truetype');
}

*{
    font-family: 'pageFont';
	margin: 0;
}

*,*:after, *:before{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#contenedor_carga{
    background-color: #fafafa;
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}

.spinner-border{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.navbar{
	display: flex;
	width: 100%;
	height: 15vh;
    background-color: var(--purple);
	padding-left: 100px;
	z-index: 1;
}

.navbar p{
	margin: 0 0 0 24px;
    color:var(--white);
	font-size: var(--lg);
}

.navbar img{
	width: 80px;
	height: auto;
}

.primary-button {
	background-color:var(--green);
	border-radius:15px;
	cursor: pointer;
	color: var(--white);
	font-size: var(--sm);
	padding:16px 60px;
	text-decoration:none;
	border-color: rgba(0, 0 , 0, 0);
}

.primary-button:hover {
	background-color: var(--hover);
	color: var(--white);
	transform: translateY(-3%);
	box-shadow: 5px 5px 20px rgba(0, 0 , 0, 1);
	border-color: rgba(0, 0 , 0, 0);
}

/*Contenido Pagina Principal*/
.Modulo{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding: 24px;
}

.title{
   font-size:var(--md);
   text-align: center;
   margin-top: 24px;
}

.Botones{
	display: flex;
    flex-direction: column;
    padding: 0 100px;
    margin-top: 24px;
}

.Botones-up{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 25px;
	margin-bottom: 32px;
	gap: 24px;
}

.Botones-down{
	display: flex;
	justify-content: center;
	align-items: center;
}

.boton-content{
	width: 60%;
}

.content-button{
	width: 100%;
	padding: 15px;
}

.content-button a{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

.content-button img{
	width: 40px;
}

/*Contenido Inicio de Sesion Alumno*/

.content-alert{
	width: 30%;
	margin-top: 24px;
	
}

.content-alert ul {
    list-style: none;
    padding: 0 12px;
}

.iniciarSesionAlumno-title{
	margin-top: 32px;
}
  
.content-inicioSesionAlumno{
    padding-top: 40px;
}

.input-password{
    padding-top: 40px;
}

.boton-ingresar{
    padding-top: 40px;
}

.button-ingresar{
	width: 100%;
}

.form-signin input[type="email"] {
    font-size: 20px;
}

.form-signin input[type="password"] {
  font-size: 20px;
}

@media screen and (max-width: 800px){
	
}