{% load static %}

{% block content %}

<div class=adminAddUser">
    <div class="add-user-content">
        <div class="add-user-form">
            <div class="add-user-title">
                <p>Añadir Usuario</p>
            </div>
            <div class="id-user-form">
                <p>ID</p>
                <input type="text" name="id">
            </div>
            <div class="name-user-form">
                <p>Nombre Completo</p>
                <input type="text" name="user_name">
            </div>
            <div class="email-user-form">
                <p>Email</p>
                <input type="text" name="email">
            </div>
            <div class="password-user-form">
                <p>Contraseña</p>
                <input type="text" name="password">
            </div>
            <div class="charge-user-form">
                <p>Cargo</p>
                <input type="text" name="charge">
            </div>
            <div class="turn-user-form">
                <p>Turno</p>
                <input type="text" name="turn">
            </div>
            <div class="buttons-user-form">
                <div class="add-button">
                    <button type="submit" class="primary-button button-agregar">Agregar</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}