{% extends "index.html" %}
{% load static %}

{% block title %} Biblioteca Politecnica Libros {% endblock %}

{% block content %}
{% include "BarraNavegacionAdmin.html" %}



<div class=bookDetail">
    <div class="book-detail-content">

        <div class="book-detail-card">
            <div class="book-detail-image book-detail-image-admin">
                <div class="book-detail-image-content">
                    <div class="book-detail-image-cover">
                        <div class="book-detail-image-cover-content">
                            <div class="book-detail-button-edit-image">
                                <button type="reset">Subir Imagen</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="book-detail-description book-detail-description-admin">
                <div class="book-detail-info book-detail-info-admin">
                    <div class="book-detail-title book-detail-admin">
                        <p>Titulo: </p><input type="text">
                    </div>
                    <div class="book-detail-available book-detail-admin">
                        <p>Disponibles: </p><input type="text">
                    </div>
                    <p class="text-informacion-del-libro">Informacion del libro</p>
                    <div class="book-detail-author book-detail-admin">
                        <p>Autor: </p><input type="text">
                    </div>
                    <div class="book-detail-editorial book-detail-admin">
                        <p>Editorial: </p><input type="text">
                    </div>
                    <div class="book-detail-languague book-detail-admin">
                        <p>Idioma: </p><input type="text">
                    </div>
                    <div class="book-detail-pages book-detail-admin">
                        <p>Paginas: </p><input type="text">
                    </div>
                </div>
                <div class="book-detail-buttons">
                    <div class="button-content boton-añadir-libro">
                        <a href="{% url 'modulo:BookRequest' %}">
                            <button class="primary-button button-añadir-libro">Añadir Libro</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
{% endblock %}