{% load static %}
<!DOCTYPE html>
<html lang="en">

<body>
    <nav class="navbar navbar-expand-lg">

        <div class="navbar-left">

            <div class="navbar-logo">
                <a href="{% url 'modulo:BooksPage' %}">
                    <img src="{%static 'images/LogoUPTap.png'%}" alt="Logo">
                </a>
            </div>

            <div class="navbar-titulo">
                <p>Biblioteca Politécnica</p>
            </div>

        </div>

        <div class="navbar-search">

            <div class="navbar-search-content">

                <div class="search-icon">
                    <img src="{%static 'icons/search.svg'%}">
                </div>

                <div class="search-input">
                    <form class="d-flex" role="search">
                        <input type="search" placeholder="Buscar Libros" aria-label="Search">
                    </form>
                </div>

            </div>

        </div>

        <div class="navbar-icons">
            <img src="{%static 'icons/library.svg'%}">
            <img src="{%static 'icons/user.svg'%}">
        </div>

    </nav>
</body>

</html>