{% extends "PaginaPrincipal.html" %}
{% load static %}

{% block title %} Biblioteca Politecnica Modulos {% endblock %}

{% block content %}

<div class="Modulo">

  <div class="title">
    <p>Iniciar Como</p>
  </div>
  
  <div class="Botones">
    <div class="Botones-up">
      
      <div class="content-button boton-alumno">
          <a href="IniciarSesion" class="primary-button boton-alumno">
            <img src="{%static 'images/alumno.svg'%}">
            Alumno
          </a>
      </div>
  
      <div class="content-button boton-profAsig">
          <a href="IniciarSesionProfAsig" class="primary-button boton-profAsig">
            <img src="{%static 'images/profAsig.svg'%}">
            Profesor Asignatura
          </a>
      </div>
    </div>

    <div class="Botones-down">
      <div class="content-button boton-profTC">
        <center>
          <a href="IniciarSesionProfTC" class="primary-button boton-profTC">
            <img src="{%static 'images/profTiempoCompleto.svg'%}">
            Profesor de Tiempo Completo
          </a>
        </center>
      </div>
    </div>
      
  
      
  </div>    
</div>

{% endblock %}