{% extends "index.html" %}
{% load static %}

{% block title %} Biblioteca Politecnica Libros {% endblock %}

{% block content %}
{% include "BarraNavegacionPrincipal.html" %}
<div class="Biblioteca">

    <div class="aside-book-cart inactive">
        {% include "bookCart.html" %}
    </div>

    <div class="aside-user-menu inactive">
        {% include "userMenu.html" %}
    </div>

    <nav class="secondary-navbar">

        <div class="secondary-navbar-content">

            <div class="secondary-navbar-sections">
                <a href="#Agroindustrial">
                    <p>Agroindustrial</p>
                </a>
                <a href="#Ambiental">
                    <p>Ambiental</p>
                </a>
                <a href="#Animación">
                    <p>Animación</p>
                </a>
                <a href="#Automotrices">
                    <p>Automotrices</p>
                </a>
                <a href="#Energía">
                    <p>Energía</p>
                </a>
                <a href="#Financiera">
                    <p>Financiera</p>
                </a>
                <a href="#Logística">
                    <p>Logística</p>
                </a>
                <a href="#Mecatrónica">
                    <p>Mecatrónica</p>
                </a>
                <a href="#Nanotecnología">
                    <p>Nanotecnología</p>
                </a>
                <a href="#Software">
                    <p>Software</p>
                </a>
            </div>

        </div>

    </nav>

    <div class="books-page">

        <div class="list-books agroindustrial" id="Agroindustrial">

            <div class="section-name">
                <h1>Ingeniería Agroindustrial</h1>
            </div>

            <div class="list-books-section">
                <div class="list-books-container">
                    <img class="control prev" src="{%static 'images/left.png'%}">
                    <div class="slider">
                        <a href="{% url 'modulo:BookDetail' %}">
                            <div class="book">

                                <div class="book-content">

                                    <div class="book-image">
                                        <div class="image-content">
                                            <img src="{{image.url}}">
                                        </div>
                                    </div>

                                    <div class="book-description">
                                        <div class="book-info">
                                            <div class="book-title">
                                                <p>Algebra Lineal</p>
                                            </div>

                                            <div class="book-author">
                                                <p>Autor:Gareth williams</p>
                                            </div>

                                            <div class="book-available">
                                                <p>Disponibles:4</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </a>

                        <div class="book">
                            <div class="book-content">
                                <div class="book-image">
                                    <div class="image-content">
                                        <img src="{%static 'images/libro1.jpg'%}">
                                    </div>
                                </div>

                                <div class="book-description">
                                    <div class="book-info">
                                        <div class="book-title">
                                            <p>Inteligencia Artificial con aplicaciones a la ingenieria</p>
                                        </div>

                                        <div class="book-author">
                                            <p>Autor:Gareth williams</p>
                                        </div>

                                        <div class="book-available">
                                            <p>Disponibles:4</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="book">
                            <div class="book-content">
                                <div class="book-image">
                                    <div class="image-content">
                                        <img src="{%static 'images/libro1.jpg'%}">
                                    </div>
                                </div>

                                <div class="book-description">
                                    <div class="book-info">
                                        <div class="book-title">
                                            <p>Introduction to java programming</p>
                                        </div>

                                        <div class="book-author">
                                            <p>Autor:Gareth williams</p>
                                        </div>

                                        <div class="book-available">
                                            <p>Disponibles:4</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="book">
                            <div class="book-content">
                                <div class="book-image">
                                    <div class="image-content">
                                        <img src="{%static 'images/libro1.jpg'%}">
                                    </div>
                                </div>

                                <div class="book-description">
                                    <div class="book-info">
                                        <div class="book-title">
                                            <p>Introduction to java programming</p>
                                        </div>

                                        <div class="book-author">
                                            <p>Autor:Gareth williams</p>
                                        </div>

                                        <div class="book-available">
                                            <p>Disponibles:4</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="book">
                            <div class="book-content">
                                <div class="book-image">
                                    <div class="image-content">
                                        <img src="{%static 'images/libro1.jpg'%}">
                                    </div>
                                </div>

                                <div class="book-description">
                                    <div class="book-info">
                                        <div class="book-title">
                                            <p>Introduction to java programming</p>
                                        </div>

                                        <div class="book-author">
                                            <p>Autor:Gareth williams</p>
                                        </div>

                                        <div class="book-available">
                                            <p>Disponibles:4</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="book">
                            <div class="book-content">
                                <div class="book-image">
                                    <div class="image-content">
                                        <img src="{%static 'images/libro1.jpg'%}">
                                    </div>
                                </div>

                                <div class="book-description">
                                    <div class="book-info">
                                        <div class="book-title">
                                            <p>Introduction to java programming And more Programs</p>
                                        </div>

                                        <div class="book-author">
                                            <p>Autor:Gareth williams Ignaldum Caucho</p>
                                        </div>

                                        <div class="book-available">
                                            <p>Disponibles:4</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="book">
                            <div class="book-content">
                                <div class="book-image">
                                    <div class="image-content">
                                        <img src="{%static 'images/libro1.jpg'%}">
                                    </div>
                                </div>

                                <div class="book-description">
                                    <div class="book-info">
                                        <div class="book-title">
                                            <p>Introduction to java programming</p>
                                        </div>

                                        <div class="book-author">
                                            <p>Autor:Gareth williams</p>
                                        </div>

                                        <div class="book-available">
                                            <p>Disponibles:4</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="book">
                            <div class="book-content">
                                <div class="book-image">
                                    <div class="image-content">
                                        <img src="{%static 'images/libro1.jpg'%}">
                                    </div>
                                </div>

                                <div class="book-description">
                                    <div class="book-info">
                                        <div class="book-title">
                                            <p>Introduction to java programming</p>
                                        </div>

                                        <div class="book-author">
                                            <p>Autor:Gareth williams</p>
                                        </div>

                                        <div class="book-available">
                                            <p>Disponibles:4</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="book">
                            <div class="book-content">
                                <div class="book-image">
                                    <div class="image-content">
                                        <img src="{%static 'images/libro1.jpg'%}">
                                    </div>
                                </div>

                                <div class="book-description">
                                    <div class="book-info">
                                        <div class="book-title">
                                            <p>Introduction to java programming</p>
                                        </div>

                                        <div class="book-author">
                                            <p>Autor:Gareth williams</p>
                                        </div>

                                        <div class="book-available">
                                            <p>Disponibles:4</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <img class="control next" src="{%static 'images/right.png'%}">
                </div>
            </div>

        </div>

        <div class="list-books ambiental" id="Ambiental">

            <div class="section-name">
                <h1>Ingeniería en Tecnología Ambiental</h1>
            </div>

        </div>

        <div class="list-books animacion" id="Animación">

            <div class="section-name">
                <h1>Ingeniería en Animación y Efectos Visuales</h1>
            </div>

        </div>

        <div class="list-books automotrices" id="Automotrices">

            <div class="section-name">
                <h1>Ingeniería en Sistemas Automotrices</h1>
            </div>

        </div>

        <div class="list-books energia" id="Energía">

            <div class="section-name">
                <h1>Ingeniería en Energía</h1>
            </div>

        </div>

        <div class="list-books financiera" id="Financiera">

            <div class="section-name">
                <h1>Ingeniería Financiera</h1>
            </div>

        </div>

        <div class="list-books logistica" id="Logística">

            <div class="section-name">
                <h1>Ingeniería en Logística y Transporte</h1>
            </div>

        </div>

        <div class="list-books mecatronica" id="Mecatrónica">

            <div class="section-name">
                <h1>Ingeniería Mecatronica</h1>
            </div>

        </div>

        <div class="list-books nanotecnologia" id="Nanotecnología">

            <div class="section-name">
                <h1>Ingeniería en Nanotecnología</h1>
            </div>

        </div>

        <div class="list-books software" id="Software">

            <div class="section-name">
                <h1>Ingeniería en Software</h1>
            </div>

        </div>
    </div>
</div>
{% include "footer.html" %}
{% endblock %}