 {% load static %}

{% block content %}
<aside class="userMenu">
    <div class="user-menu-content">

        <div class="user-menu-data">
            <div class="user-menu-data-image">
                <div class="user-menu-data-image-content">
                    <img src="{%static 'icons/user.svg'%}">
                </div>
            </div>
            <div class="user-menu-data-info">
                <div class="user-menu-data-name">
                    <div class="user-menu-data-name-content">
                        <p>Alan Josue Valeriano Delgado</p>
                    </div>
                </div>
                <div class="user-menu-data-email">
                    <div class="user-menu-data-email-content">
                        <p>213171@uptapachula.edu.mx</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="user-menu-edit-profile">
            <div class="user-menu-edit-profile-image">
                <div class="user-menu-edit-profile-image">
                    <img src="{%static 'icons/edit.svg'%}">
                </div>
            </div>
            <div class="user-menu-edit-profile-text">
                <div class="user-menu-edit-profile-text-content">
                    <p>Editar Perfil</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="user-menu-log-out">
            <div class="user-menu-log-out-image">
                <div class="user-menu-log-out-image-contetn">
                    <img src="{%static 'icons/exit.svg'%}">
                </div>
            </div>
            <div class="user-menu-log-out-text">
                <div class="user-menu-log-out-text-content">
                    <p>Cerrar Sesión</p>
                </div>
            </div>
        </div>
    </div>
</aside>
{% endblock %}